/QuanLyHS/nbproject/private/
/QuanLyHS/build/
/QuanLyHS/dist/
/exam/nbproject/private/
/exam/build/
/lab4/nbproject/private/
/lab4/build/
/lab5_prj301/nbproject/private/
/lab5_prj301/build/
/QuanLy_HS2_/nbproject/private/
/QuanLyHS_1/nbproject/private/
/QuanLyHS_1/build/
