/QuanLyHS/nbproject/private/
/QuanLyHS/build/
/QuanLyHS/dist/
/exam/nbproject/private/
/exam/build/
/lab4/nbproject/private/
/lab4/build/
/lab5_prj301/nbproject/private/
/lab5_prj301/build/
/QuanLy_HS2_/nbproject/private/
/QuanLyHS_1/nbproject/private/
/QuanLyHS_1/build/
/uppic/nbproject/private/
/uppic/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/WebApplication3/nbproject/private/
