/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 23-06-2023, 00:43:44
    Author     : anhha
*/

.option-icon{
    color:black;
    margin: 10px
}
.option-icon:hover{
    color: blue;
}