/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 05-06-2023, 09:24:12
    Author     : anhha
*/

.header{
    display: flex;
    justify-content: space-between;
}
.tprofile{
    display: flex;
}
.logo{
    width:50px;
    height: 50px;
    object-fit: cover;
    margin-left: 10px;
}
.tphoto{
    width:40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-top:8px;
    margin-bottom: 8px;
    margin-left: 8px;
    border: 2px solid #E6E6E6;
    padding: 2px;

}
img{
    vertical-align: middle;
}
.tpro p{
    margin-left: 10px;
    margin-right: 13px;
    font-weight: 500;
    align-items: center;
    margin-top:20px;
}
.tprofile{
    background-color: #F7F7F7;
}
.tprofile:hover{
    background-color: #F2EFEF;
}
.dropdown{
    position: absolute;
    right:8px;
    top:74px;
    border-radius: 10px;
    display:none;
    transform-origin: calc(100% - 40px) top;
    animation: dropdowngrowth ease-in 0.2s;
}
@keyframes dropdowngrowth{
    from{
        opacity: 0.3;
        transform: scale(0);
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
.dropdown a{
    width: 100%;
    text-decoration: none;
    color: black;
    
}
.dropdown-element{
    width: 120px;
    line-height: 40px;
    border:1px solid #E2E2E2;
    text-align: center;
}

.dropdown-element:hover{
    background-color: #F6F5F5;  
}