/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 22-06-2023, 17:10:23
    Author     : anhha
*/
.table-body img{
    width:200px;
    height:300px;
    object-fit: cover;
}
.table-body td{
    border-bottom: 1px solid #CFCFCF
}
