/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 22-06-2023, 15:22:54
    Author     : anhha
*/
.submitbut:hover{
    opacity: 0.8;
    
}
.submitbut{
    width:200px;
    line-height: 40px;
    border-radius: 10px;
    border:1px solid #DFDFDF;
    background-color: #3d5ee1;
    color:white
}
