/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 11-06-2023, 16:23:53
    Author     : anhha
*/
.prophoto{
    width:170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    margin-top:25px;
    margin-bottom: 25px;
    margin-left: 25px;
}
.fpart{
    background-color: #F7F7F7;
    margin: 20px;
    box-shadow: 0.5px 0.5px 10px 0.5px  #888888;
}
.fpart-1{
    display: flex;
}
.fpart-2{
    background-color: white;
}
.fpart-22{
    margin-left: 20px;
    display: flex;
}
.fpart-2 .p1{
/*    background-color: #3d5ee1;
    width: 90px;
    height:44px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;*/
    margin-top: 10px;
    margin-bottom: 10px;
}
.fpart-2 .p1:hover{
    background-color: #F5F5F6;
    cursor: pointer;

}
.p1 p{
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    line-height: 10px;
    color: black;
}
.p1 p:hover{
    color: black;
}
#p1{
    border: 2px solid #CFCFCF;
}
.textbox{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
}
.pd{
    background-color: white;
    border-radius: 15px;
    margin:0 auto;
    display: block;
    animation: displaybytime ease-in 0.2s;
}
.pdl{
    text-align: right;
    color:#7B7B7B;
}
.pdhead{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.pd2{
    background-color: white;
    border-radius: 15px;
    margin:0 auto;
    display: none;
    animation: displaybytime ease-in 0.2s;
}
.pd2 .input{
    color: #7B7B7B;
    border: 1px solid #7B7B7B;
    width: 300px;
    line-height: 30px;
    border-radius: 5px;
}
#form-1{
    animation: displaybytime ease-in 0.2s;
    display:none;
}
#form-2{
    animation: displaybytime ease-in 0.2s;
    display:none;
}

@keyframes displaybytime{
    from{
        opacity: 0.3;
    }
    to{
        opacity: 1;
    }
}
.editbotton:hover{
    color:#8D8DE6;
    
}
.editbotton{
    border: 0px solid black;
    background-color: white;
}